/* Zmienne */
html {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem; }

body {
  font-family: "Rubik", sans-serif;
  color: #2d3236; }

h1 {
  font-weight: 400;
  font-size: 3.6rem; }

h2 {
  font-size: 2.8rem;
  font-weight: 400; }

h3 {
  font-size: 1.8rem;
  font-weight: 300; }

header {
  height: 8.5rem;
  padding: 2rem 0rem; }

.white-box {
  background-color: white;
  text-align: center;
  padding: 3rem;
  min-height: 22rem; }
  .white-box h3 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
    font-weight: 400; }
  .white-box p {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8; }

.heading-container {
  margin: 6rem 0rem 2.5rem 0rem; }
  .heading-container h3 {
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 200; }
  .heading-container h2 {
    margin: 4rem 0rem 0rem 0rem; }

section {
  text-align: center;
  height: auto;
  margin: 0rem;
  padding-bottom: 2rem; }

#blue {
  background-color: #215398;
  height: 43rem; }
  #blue .heading-container {
    color: white; }

#gray {
  background-color: #f5f5f5; }
  #gray .dot-container {
    width: 100%;
    height: 3rem;
    text-align: center;
    transform: translateY(-50%); }
    #gray .dot-container .dot {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: #ff3859;
      display: inline-block; }

.fixed {
  margin: 0rem;
  padding: 0rem; }

@media (min-width: 728px) {
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block; }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none; }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible; }
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item.left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  .carousel-inner .carousel-item-prev .carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible; } }

.controlers-container {
  position: relative;
  width: 120%;
  left: -12rem;
  z-index: 9999; }
  .controlers-container .controlers-desktop {
    position: absolute;
    width: 100%;
    z-index: 9999;
    transform: translateY(-12rem); }
    .controlers-container .controlers-desktop .left, .controlers-container .controlers-desktop .right {
      cursor: pointer; }
    .controlers-container .controlers-desktop .left {
      float: left; }
    .controlers-container .controlers-desktop .right {
      float: right; }

.heading-container {
  margin: 6rem 0rem 2.5rem 0rem; }
  .heading-container h3 {
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 200; }
  .heading-container h2 {
    margin: 4rem 0rem 0rem 0rem; }

.moveLeft {
  margin-left: -355px !important;
  transition: 1s ease !important; }

.moveRight {
  margin-left: 355px !important;
  transition: 1s ease !important; }

@media (min-width: 569px) and (max-width: 1024px) {
  section {
    padding: 2rem; }
  .white-box {
    min-height: 30.5rem; } }

@media (min-width: 280px) and (max-width: 568px) {
  section {
    padding: 1rem; }
  #blue {
    min-height: 55rem; }
  .white-box {
    margin-top: 1rem;
    min-height: 25rem; }
  .controler-container-desktop {
    display: none; }
  .controler-container-mobile {
    display: block;
    margin: 1rem 0rem; } }
