/* Zmienne */
html {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem; }

body {
  font-family: "Rubik", sans-serif;
  color: #2d3236; }

h1 {
  font-weight: 400;
  font-size: 3.6rem; }

h2 {
  font-size: 2.8rem;
  font-weight: 400; }

h3 {
  font-size: 1.8rem;
  font-weight: 300; }

header {
  height: 8.5rem;
  padding: 2rem 0rem; }

.fixed {
  margin: 0rem;
  padding: 0rem; }

.mobile-controlers {
  display: none; }

.slider-container {
  overflow: hidden;
  height: 26rem;
  width: 100%; }
  .slider-container .item {
    width: 33%;
    display: inline-table;
    margin-bottom: 2rem; }

.controler-container-desktop {
  position: absolute;
  z-index: 9999;
  transform: translate(-6rem, 12rem);
  width: 108%; }
  .controler-container-desktop .control-next {
    float: left;
    cursor: pointer; }
  .controler-container-desktop .control-prev {
    float: right;
    cursor: pointer; }

.controler-container-mobile {
  width: 100%;
  display: none;
  padding: 0rem 2rem; }
  .controler-container-mobile .control-next {
    float: left; }
  .controler-container-mobile .control-prev {
    float: right; }

.white-box {
  min-height: 25rem;
  background-color: white;
  text-align: center;
  padding: 3rem; }
  .white-box h3 {
    font-size: 1.9rem;
    margin-bottom: 2rem;
    font-weight: 400; }
  .white-box p {
    color: #808080;
    font-size: 1.4rem;
    line-height: 1.8; }

.heading-div {
  margin: 6rem 0rem 2.5rem 0rem; }
  .heading-div h3 {
    margin: 1rem 0rem 0rem 0rem;
    font-weight: 200; }
  .heading-div h2 {
    margin: 4rem 0rem 0rem 0rem; }

section {
  text-align: center;
  height: auto;
  margin: 0rem;
  padding-bottom: 2rem; }

section#blue-section {
  background-color: #215398;
  height: 46rem; }
  section#blue-section .heading-div {
    color: white; }

section#gray-section {
  background-color: #f5f5f5; }
  section#gray-section .dot-container {
    width: 100%;
    height: 3rem;
    text-align: center;
    transform: translateY(-50%); }
    section#gray-section .dot-container .dot {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: #ff3859;
      display: inline-block; }

@media (min-width: 569px) and (max-width: 1024px) {
  .controler-container-mobile {
    display: block;
    margin: 1rem 0rem; }
  .controler-container-desktop {
    display: none; }
  #blue-section .white-box {
    min-height: 30rem; } }

@media (min-width: 280px) and (max-width: 568px) {
  section {
    padding: 1rem; }
  section#blue-section {
    height: 55rem; }
    section#blue-section .slider-container {
      height: 30rem; }
    section#blue-section .dot-container {
      transform: translateY(-70%); }
    section#blue-section .white-box {
      margin-bottom: 2rem; }
  .white-box {
    margin-top: 1rem;
    min-height: 30rem; }
  .controler-container-desktop {
    display: none; }
  .controler-container-mobile {
    display: block;
    margin: 1rem 0rem; } }
